<section id="about" style="height:100vh; background-color: #efe; padding: 2rem; scroll-margin-top: 100px;">

    <h2>Witam Cię na mojej stronie! Jest mi niezmiernie miło. Twoje oprogramowanie zasługuje na perfekcję – ja Ci w tym pomogę! Stwórzmy to razem! </h2>
    <p>
        Dzień dobry!
        Jestem magistrem inżynierem informatyki z Politechniki Białostockiej, a także specjalistą z 5-letnim doświadczeniem w testowaniu oprogramowania. Przez lata pracy w branży zdobyłem praktyczną wiedzę i umiejętności, które pozwalają mi dostarczać wysokiej jakości usługi w zakresie testowania i zapewniania jakości oprogramowania. 🚀

        Dlaczego warto ze mną współpracować?

        Kompleksowe testowanie oprogramowania – zapewniam dokładność, precyzję i pełną funkcjonalność Twojego systemu, zarówno w trakcie, jak i po wdrożeniu.

        Zwiększenie jakości produktów – dzięki moim usługom Twoje oprogramowanie będzie działać bezbłędnie, co z kolei zwiększy satysfakcję użytkowników i zmniejszy koszty naprawy błędów w przyszłości.

        Optymalizacja procesów – pomogę zoptymalizować procesy testowe, co pozwoli Ci zaoszczędzić czas i pieniądze.

        Chcesz, by Twoje oprogramowanie było niezawodne?
        Skontaktuj się ze mną i sprawdź, jak mogę pomóc Ci w rozwoju i sukcesie Twojego biznesu! 🌟
    </p>

    <img src="images/koteczek.jpg"  style="width:100%; max-width:600px; border-radius:10px;" />
    <p>Zapraszam do kontaktu i omówienia szczegółów współpracy!</p>


</section>